
<div th:fragment="editer_box" class="editer_box">

    <button type="button" onclick="format('bold')"><b>가</b></button>
    <button type="button" onclick="format('italic')"><i>가</i></button>
    <button type="button" onclick="format('underline')"><u>가</u></button>


    <!-- 서체 -->
    <select id="fontFamily">
        <option value="">서체</option>
        <option value="Arial">Arial</option>
        <option value="Noto Sans KR">Noto Sans KR</option>
        <option value="Times New Roman">Times</option>
        <option value="monospace">Mono</option>
    </select>


    <select onchange="format('fontSize', this.value)">
        <option value="">크기</option>
        <option value="14px">8</option>
        <option value="16px">9</option>
        <option value="18px">10</option>
        <option value="22px">12</option>
        <option value="14px">14</option>
        <option value="16px">16</option>
        <option value="18px">18</option>
        <option value="22px">22</option>
    </select>

    <!-- 색상 -->
    <input type="color" id="fontColor" onchange="format('foreColor', this.value)">


</div>
