


<div th:fragment="header" class="header">
  <div class="header-inner">
    <div class="logo" onclick="location.href='/'" style="cursor:pointer;">보리마켓</div>


    <nav class="menu">
        <a href="/">홈</a>
        <a href="/news/list">뉴스</a>
        <a href="#">과일</a>
        <a href="#">업무</a>
        <a href="#">마이</a>
        <span th:if="${session.userNickname == null}" ><a th:href="@{/login}">로그인 </a></span>
        <a th:href="@{/join}" style="font-weight: bold; color: #333;">회원가입</a>


        <a href="https://blog.naver.com/eco-sumin" class="admin-link">에코수민 블로그  </a>
    </nav>

      <div class="card" th:if="${session.isAdmin == true}">
          <a th:href="@{/admin/main}" class="admin-link">관리자 페이지 </a></div>



</div>

</div>